#nav-bar{
    background: #466252;
}


#current:after,
.mean-container .mean-nav ul li a:hover,
.touching.medium a.hover-zoom,
.touching.medium a.hover-link, 
.gDot, 
.list_style.circle li a i, 
.flickr-feed li .hover,
.progress_skill .bar,
.swipe-navi .swipe-left,
.swipe-navi .swipe-right,
.blogteam_pic .blog-hover .icon,
.list_style.square li a i,
.highlight.default,
.blog_large .day, .blog_single .day,
#filter li.selected a:before,
.carousel-pagination li.active,
.slider-read,
.slider .new,.slider .light-pink{
	background: #4F8265 !important;
}
#header{background:#4F8265;}

.menu > ul > li ul > li:first-child > a{border-top-color:#4F8265;}
.menu > ul > li > ul:before{ border-bottom-color: #4F8265;}
.menu ul ul li a:hover{color:#4F8265; }
.menu ul ul li a:hover.sf-with-ul:after  {border-color: #FBFBFB #FBFBFB #FBFBFB #4F8265; }
.menu ul ul li a.sf-with-ul:after { color:#4F8265; }


.fraction-slider .next:hover,
.fraction-slider .prev:hover,
.fraction-slider .next:hover:before,
.fraction-slider .prev:hover:before {color:#4F8265!important;  border-color:#4F8265!important; }

.pb_action .btn.btn-danger          { border-bottom-color:#466252; background:#4F8265;}
.pb_action .btn.btn-danger:hover,.btn.btn-default:hover, .btn.btn-default:focus, .btn-group:focus .btn.btn-default.dropdown-toggle
{border-bottom-color:#29593D;   background:#3F7756;}

.blog_large .post_meta h2:hover a, .blog_single .post_meta h2:hover a{    color:#4F8265 ;}
.author_bio > h5                    {border-bottom-color:#5A9673;}
.author_desc .author-team_pic > img {border-color:#4F8265; }
.blog_medium .post_meta h2:hover a  { color:#4F8265; }
#site-searchform #searchsubmit{background-color:#4F8265;}
#site-searchform #s:focus{ border-color:#4F8265;}

.testimonial-review small,
.list_style li a:hover,
#breadcrumbs ul li:last-child a, #breadcrumbs ul li a,
.menu ul li a:hover .sf-sub-indicator,
.tp-caption.large_bold_red,
.blogMeta a:hover, .blogTitle span:hover,
.serviceBox_3:hover i,
.dropcap.default,
.blogTitle > a:hover h2,
.sidebar ul.archives_list li a:hover, .sidebar ul.arrows_list1 li a:hover i,
.blog_large .post_meta .metaInfo > span > a:hover, .blog_single .post_meta .metaInfo > span > a:hover,
#comment-list li .comment-container:hover a,
#comment-list li .comment-container:hover .comment-date,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
  color: #333 !important;
}
.blog_medium .day{background:#4F8265;}
a.read:hover{color:#4F8265;}
.sidebar ul.arrows_list li a:hover, .sidebar ul.arrows_list1 li a:hover i{color:#4F8265;}
#site-search-form #s:focus{border-color:#4F8265; }
.testimonial-item blockquote {
	border-left: 3px solid #4F8265;
}
.testimonial-review > img {  border: 2px solid #4F8265; }

.btn.btn-default,
.tp-caption.modern_big_redbg,
.tp-caption.medium_bg_red,
.dropcap_block.default,
.btn.btn-default.dark:hover,
.btn.btn-default.dark:focus,
.btn-group:focus .btn.btn-default.dark.dropdown-toggle,
.icon_lists .fa-hover a:hover,
#site-search-form #searchsubmit,
.tags li a:hover,
.shares li a:hover{
	background-color:#4F8265; }

.about_author{background:#4F8265;border-left-color:#106232; }
.author_social li a{background:#106232;}

.table-theme-color span{background:#4F8265; }
.table-theme-color span.heading,.pricingTable .table-theme-color.business .heading{background:#326547; }

.table-theme-color span.price-head,.table-theme-color span.price-head span{background:#4F8265; border:none;}
.table-theme-color .btn.btn-default.dark{background:#326547;}

.nav-tabs li.active, .nav-tabs li.active a, .nav-tabs li.active a:hover,
.panel.active_acc,.panel:hover,
.recent_tab_list li a:hover{ border-top-color:#4F8265!important;}
.panel-heading:hover  a,
.nav-tabs li.active, .nav-tabs li.active a, .nav-tabs li.active a:hover,
.panel-heading:hover .accordian-icon,
.list_style li a:hover,
.active_acc .panel-title a, .active_acc .accordian-icon,
.recent_tab_list li a:hover,
.comments_list a,
.blog_medium .post_meta .metaInfo > span > a:hover
{color:#4F8265!important;}

#contactForm .btn.btn-default       {border-bottom-color:#356A4B;}
#contactForm .btn.btn-default:hover {background:#4F8265;}
.btn.btn-default                    {border-bottom-color: #3B654D;}
.btn.btn-default:hover              {background: #406C52; border-bottom-color: #28523A;}

.progress_skill:hover .bar  {background: #27ae60 !important;}

.control-group.focus textarea, .control-group.focus input[type="text"], .control-group.focus input[type="password"], .control-group.focus input[type="datetime"], .control-group.focus input[type="datetime-local"], .control-group.focus input[type="date"], .control-group.focus input[type="month"], .control-group.focus input[type="time"], .control-group.focus input[type="week"], .control-group.focus input[type="number"], .control-group.focus input[type="email"], .control-group.focus input[type="url"], .control-group.focus input[type="search"], .control-group.focus input[type="tel"], .control-group.focus input[type="color"], .control-group.focus .uneditable-input, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	border-color:#4F8265; }

blockquote.default  {border-color:#4F8265;}

.team_pic:hover img, .team_social_media:hover{border-color:#6EB38B;}
.recent-item:hover .item-description    {border-bottom:2px solid #4F8265; }

#filter li.selected a, #filter li a:hover,
#filter li.selected a, #filter li a:hover {background: #4F8265;}

.touching.medium a.hover-zoom:hover,
.touching.medium a.hover-link:hover       {background: #333!important;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background:#4F8265;  border-color: #4F8265; }

.comment-container:hover { border-color:#4F8265;}

.serviceBox_2:hover i,
.serviceBox_3:hover i,
.serviceBox_1:hover .icon_service i {border-color:#4F8265; color:#4F8265;}
.service-2-new:hover i              {border-color:#4F8265 }
.serviceBox_3:hover i{color:#4F8265!important;}

.footer             {background:#4F8265;}
.footer_bottom      {background:#466252;}
.footer h4 > span   {background:#4F8265; }
